@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://unpkg.com/swiper@7/swiper-bundle.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');



:root{
    --blue:#5F9DF7;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--blue);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    font-size: 3.5rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border: none;
    border-radius: .5rem;
    color:#eee;
    cursor: pointer;
    background: var(--blue);
}

.btn:hover{
    background: var(--blue);
    color:#fff;
}

body .box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f3f3;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 15px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}


.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .logo i{
    color:var(--blue);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--blue);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--blue);
    color:#fff;
}

#menu-btn{
    display: none;
}

/* section .profile{
    margin: 10rem;
} */

.header .search-form{
    position: absolute;
    top:110%; right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--blue);
}

.header .shopping-cart{
    position: absolute;
    top:110%; right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:35rem;
    background: #fff;
}

.header .shopping-cart.active{
    right:2rem;
    transition: .4s linear;
}

.header .shopping-cart .boxs{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin:1rem 0;
}

.header .shopping-cart .boxs img{
    height:10rem;
}

.header .shopping-cart .boxs .fa-trash{
    font-size: 2rem;
    position: absolute;
    top:50%; right:2rem;
    cursor: pointer;
    color:var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .boxs .fa-trash:hover{
    color:var(--blue);
}

.header .shopping-cart .boxs .content h3{
    color:var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .boxs .content span{
    color:var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .boxs .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    color:var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin:1rem;
}

.header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:35rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding:.5rem 0;
    color:var(--light-color);
}

.header .login-form p a{
    color:var(--blue);
    text-decoration: underline;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/clothes.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content{
    text-align: center;
    width:70rem;
}

.home .content h3{
    color:var(--black);
    font-size: 3rem;
}

.home .content h3 span{
    color:var(--blue);
    font-size: 3rem;
}

.home .content p{
    color:var(--light-color);
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}

.services .box-containers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.services .box-containers .boxs{
    padding:3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.services .box-containers .boxs:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.services .box-containers .boxs img{
    margin:1rem 0;
    height: 15rem;
}

.services .box-containers .boxs h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color:var(--black);
}

.services .box-containers .boxs p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
    padding:1rem 0;
}

.order form{
    max-width:90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    background:#fff;
    padding:1.5rem;
    margin:0 auto;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input{
    width:49%;
}

.order form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea,
.order form .inputBox .input select{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border:.1rem solid var(--green);
}

.order form .inputBox .input textarea{
    height:15rem;
    width: 100%;
    resize: none;
}

.order form .inputBox .input select
{
    width: 100%;
    resize: none;
}

.order form .inputBox .input .name
{
    width: 865px;
    resize: none;
}

.order form .btn{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .product-slider{
    padding:1rem;
}

.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.products .product-slider .boxs{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .boxs:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.products .product-slider .boxs img{
    height:20rem;
}

.products .product-slider .boxs h3{
    font-size: 2.5rem;
    color:var(--black);
}

.products .product-slider .boxs .price{
    font-size: 2rem;
    color:var(--light-color);
    padding:.5rem 0;
}

.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--blue);
    padding:.5rem 0;
}

.categories .box-containers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}

.categories .box-containers .box{
    padding:3rem 2rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: var(--box-shadow);
    outline:var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-containers .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.categories .box-containers .box img{
    margin:1rem 0;
    height:15rem;
}

.categories .box-containers .box h3{
   font-size: 2rem;
   color:var(--black);
   line-height: 1.8;
}

.categories .box-containers .box p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}

.review .review-slider{
    padding:1rem;
}

.review .review-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.review .review-slider .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.review .review-slider .box img{
    height:10rem;
    width:10rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding:1rem 0;
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3{
    padding-bottom: .5rem;
    color:var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars i{
    color:var(--blue);
    font-size: 1.7rem;
}

.blogs .box-containers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-containers .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background:#fff;
}

.blogs .box-containers .box img{
    height:25rem;
    width:100%;
    object-fit: cover;
}

.blogs .box-containers .box .content{
    padding:2rem;
}

.blogs .box-containers .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-containers .box .content .icons a{
    color:var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-containers .box .content .icons a:hover{
    color:var(--black);
}

.blogs .box-containers .box .content .icons a i{
    color:var(--blue);
    padding-right: .5rem;
}

.blogs .box-containers .box .content h3{
    line-height: 1.8;
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.blogs .box-containers .box .content p{
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
}



.footer{
    background: #fff;
}

.footer .box-containers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-containers .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-containers .box h3 i{
    color:var(--blue);
}

.footer .box-containers .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-containers .box .links i{
    color:var(--blue);
    padding-right: .5rem;
}

.footer .box-containers .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-containers .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-containers .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-containers .box .share a:hover{
    background: var(--blue);
    color: #fff;
}

.footer .box-containers .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-containers .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--blue);


}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu
{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;  
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.containerspec {
    margin-top: 10%;
    width: 50%;
    margin: auto;
    margin-bottom: 10%;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
    -moz-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
    box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 128, 0.2);
}
.container2 {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
    -moz-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
    box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 128, 0.2);
}

.left {
    background-color: var(--blue);
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    /* color: #ffffff; */
}

.info-box {
    margin: 0;
}

.receipt {
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 20px;
    color: #fff;
}

.receipt span {
    font-weight: 500;
    font-size: 21px;

}

.entry {
    border-bottom: 1px solid var(--blue);
    height: 15%;
    overflow: hidden;
    padding-top: 15px;
}


.entry p {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 0px;
    color: #fefefe;
    /* margin-top: 0px !important;
    float: left; */
}

span {
    font-weight: 500;
    font-size: 16px;
    /* color: #fefefe; */
}

.entry:last-child {
    border-bottom: none;
}

.navigation2
{
    display: flex;
    justify-content: end;
    gap: 12px;
    font-size: 14px;
    color: white;

}

/* right */

/* .right {
    background-color: #fefefe;
    width: 61%;
    height: 457px;
    float: left;
    border-radius: 0 5px 5px 0;
} */

.content {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.header2 {
    overflow: hidden;
    border-bottom: 1px solid #fefefe;
    height: 50px;
}

.header img {
    width: 40px;
    float: left;
}

h4 {
    font-weight: 300;
    font-size: 13px;
    color: #96a2ad;
}

.header h4 {
    text-align: right;
    margin-top: 10px;
}

.main {
    margin-top: 35px;
}

h3 {
    color: #58636a;
}

h5 {
    color: #99a1aa;
    font-weight: 300;
}

h6 {
    color: #9aa3ab;
    font-weight: 300;
    line-height: 15px;
}

.message {
    margin-top: 40px;
}

.message p {
    font-weight: 300;
    font-size: 15px;
    color: #7a838d;
    line-height: 30px;
}

.message h6 {
    margin-top: 10px;
}

.footer {
    overflow: hidden;
    border-top: 1px solid #d7e2e7;
    margin-top: 40px;
    padding-top: 33px;
}

.footer h6 {
    color: #7a838d;
    text-align: right;
    margin-top: 0px !important;
}






/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-containers .box .payment-img{
        margin: 2rem auto;
    }

}